<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node name="gripper_controllers_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="--timeout 120
              gripper_controller" />
  <!-- <include file="$(find pal_wsg_gripper_controller_configuration)/launch/current_limit_controllers.launch"/> -->
</launch>

